<form class="search-bar">
  <mat-form-field appearance="outline" class="search-form-field">
    <input matInput placeholder="NNI" >
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <button (click)="openPartisanUI()" class="button mr-2" mat-stroked-button color="primary"><mat-icon>add</mat-icon> Ajouter</button>
  <button routerLink="import" class="button mr-2" mat-stroked-button color="primary">Importer <mat-icon>file_upload</mat-icon></button>
</form>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- nni Column -->
    <ng-container matColumnDef="nni">
      <th mat-header-cell *matHeaderCellDef> NNI</th>
      <td mat-cell *matCellDef="let element"> {{ element.nni }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nom complet</th>
      <td mat-cell *matCellDef="let element"> {{ element.name }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="center">
      <th mat-header-cell *matHeaderCellDef> Centre de vote</th>
      <td mat-cell *matCellDef="let element"> {{ element.center }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="office">
      <th mat-header-cell *matHeaderCellDef> Bureau de vote</th>
      <td mat-cell *matCellDef="let element"> {{ element.office }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
