<mat-stepper [linear]="false" #stepper>
  <mat-step [stepControl]="voteFormGroup">
    <div >
      <form  class="stepper-container" [formGroup]="voteFormGroup">
        <ng-template matStepLabel>Centre</ng-template>
        <h4>Choisissez un centre de vote</h4>
        <mat-form-field>
          <mat-label> centre de vote</mat-label>
          <mat-select formControlName="center">
            @for (center of voteCenters; track center) {
              <mat-option [value]="center.label">{{ center.label }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Suivant</button>
        </div>
      </form>
    </div>

  </mat-step>
  <mat-step label="Bureau">
    <app-electoral-office (validatedOffice)="selectOffice($event)"  [electoralOffices]=selectedCenterOffices>

    </app-electoral-office>
  </mat-step>

  <mat-step label="Electeur">
    <div class="stepper-container">
      <app-find-elector-in-office class="full-width"
                                  [filteredElectors]="selectedOfficeElectors"
                                  [electors]="selectedOfficeElectors"
                                  (selectElector)="selectElector($event)"

      >
      </app-find-elector-in-office>
      <button mat-button (click)="declarePartisanVote()" >Valider le vote</button>
    </div>

  </mat-step>
    <mat-step>
    <ng-template matStepLabel>Recapitilatif</ng-template>
      <app-election-report>

      </app-election-report>
  </mat-step>
</mat-stepper>
