.stepper-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  padding: 40px;
}

mat-form-field {
  width: 100%;
}
mat-select-panel mat-form-field {
  padding: 8px 16px;
}

mat-select-trigger {
  display: flex;
  align-items: center;
}

.full-width{
  width: 100%;
}
