<amplify-authenticator>
  <ng-template
    amplifySlot="authenticated"
    let-user="user"
    let-signOut="signOut"
  >
    <div class="container">
      <div class="header">
        <a routerLink="/"><img [src]="'assets/logo.png'" alt="logo" width="120" height="120"/> </a>
        <h1>CAMPAGNE 2024 </h1>

        <button (click)="signOut()" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
          <mat-icon>logout</mat-icon>
        </button>

      </div>
      <app-spinner></app-spinner>
      <router-outlet/>
    </div>
    <div class="footer">
      MSI copyright &copy; 2024
    </div>

  </ng-template>
</amplify-authenticator>
